.main {
  width: 402px;
/* height: 853px; */
min-height: 853px;
background: #F5F9F8;

position: relative;
}


/* CHAT 단계일 때 배경 변경 */
.main-chat {
  background: #F5F3E7;
}


.head {
  display: inline-flex;
align-items: flex-start;
}

.head2 {
display: flex;
width: 402px;
height: 54px;
padding: 15px 187px 15px 16px;
align-items: center;
gap: 99px;
background: #F5F9F8;
}


.head3 {
display: flex;
align-items: center;
gap: 12px;
}



.head4 {
display: flex;
width: 24px;
height: 24px;
align-items: center;
gap: 10px;

}


.head5 {
display: flex;
justify-content: center;
align-items: center;
}



.head6 {
color: #5E5A4E;
text-align: center;
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}



.step {
/* display: inline-flex; */
  display: flex;
align-items: center;
gap: 8px;

margin-top: 34px; 
margin-left: 20px;
}


.step2 {
display: flex;
width: 28px;
height: 28px;
padding: 4px 9px;
/* flex-direction: column; */

flex-direction: row;
justify-content: center;
align-items: center;
gap: 4px;
border-radius: 14px;
background: #0AC290;
}



.step-active {
display: flex;
width: 28px;
height: 28px;
justify-content: center;
align-items: center;
gap: 10px;
aspect-ratio: 1/1;
border-radius: 999px;
background: #88DDC1;
}


.step-active2 {
width: 16px;
height: 16px;
flex-shrink: 0;
aspect-ratio: 1/1;
}

.step-active3 {
width: 12.668px;
height: 9.667px;
fill: #FFF;
}


.step-done {
display: flex;
width: 28px;
height: 28px;
padding: 4px 9px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 14px;
border: 1.4px solid #88DDC1;
}


.step-done2 {
color: #00AA71;
text-align: center;
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
}



.step3 {
color: #FFF;
text-align: center;
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
}



.step4 {
display: flex;
align-items: center;
gap: 4px;

/* 동그라미와 점 사이 8px */
margin: 0 8px;
}



.step5 {
width: 4px;
height: 4px;
aspect-ratio: 1/1;
fill: #A5E7D2;
}



.step6 {
display: flex;
width: 28px;
height: 28px;
padding: 4px 9px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 4px;
border-radius: 14px;
border: 1.4px solid #A5E7D2;
}



.step7 {
color: #00AA71;
text-align: center;
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
}



.bt {
display: flex;
width: 44px;
height: 44px;
justify-content: center;
align-items: center;
aspect-ratio: 1/1;
border-radius: 999px;
background: #FFF;
box-shadow: 0 4px 12px 0 rgba(158, 155, 137, 0.20);
}






.textcard {
display: flex;
/* width: 224px; */
align-items: center;
gap: 10px;

margin-top: 36px;
/* margin-left: 20px; */
justify-content: center;
}


.textcard2 {
flex: 1 0 0;
color: #454440;
font-family: Pretendard;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px;

white-space: nowrap; /* 줄바꿈 금지 */
  text-align: center;
}


.textcard3 {
/* display: inline-flex; */
display: flex;
justify-content: center;
align-items: center;

margin-top: 8px;
/* margin-left: 20px; */
}


.textcard4 {
color: #69675C;
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
}













/* 뷰포트 = 보이는 영역 */
.viewport {
  width: 100%;
  /* 양옆 카드 잘림 처리 */
  overflow: hidden;
  /* 또는 overflow: visible 로 양옆 살짝 보이게 */

  margin-top: 44px; 
}

/* 트랙 = 카드들이 가로로 나란히 */
.track {
  display: flex;
  /* 슬라이드 애니메이션 */
  /* JS로 transform을 바꾸면 0.3초 동안 부드럽게 이동 */
  /* 버튼 누를 때마다 index가 바뀌고, transform 값이 바뀌고, transition이 감지 */
  transition: transform 0.3s ease;


  /* 10% = 양옆 여백 (100% - 80%) / 2 */
  /* 80% * index = 인덱스마다 80%씩 이동 */
  transform: translateX(calc(10% - 80% * var(--index, 0)));
}







/* 카드 */
.dictionary {
/* display: inline-flex;
justify-content: center; */

  display: flex;
  flex-direction: column;
/* 카드 내부 가운데 정렬 */
align-items: center;
/* 카드 사이 간격 */
padding: 0 24px;


  /* 카드 1개가 뷰포트 80% 차지 */
  /* flex: 0 0 80%의 의미
  0 = 늘어나지 않음 (flex-grow)
  0 = 줄어들지 않음 (flex-shrink)
  80% = 기본 크기 80% (flex-basis) */
  flex: 0 0 80%; 

}


.dictionary2 {
display: flex;
width: 268px;
padding: 20px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;
border-radius: 24px;
background: #FEFDF9;
}


.dictionary3 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 24px;
align-self: stretch;
}


.dictionary4 {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 20px;
align-self: stretch;
}


.dictionary5 {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 16px;
align-self: stretch;
}


/* .dictionary6 {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 16px;
align-self: stretch;
} */

/* 
.dictionary7 {
display: flex;
width: 208px;
flex-direction: column;
align-items: flex-start;
gap: 4px;
} */


.dictionary8 {
display: flex;
width: 208px;
flex-direction: column;
align-items: flex-start;
gap: 4px;
align-self: stretch;
}


.dictionary9 {
display: flex;
max-width: 228px;
align-items: center;
}


.dictionary9-t {
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
line-clamp: 1;  /* 표준 속성 추가 */
flex: 1 0 0;
overflow: hidden;
color: #0AC290;
text-overflow: ellipsis;
font-family: Pretendard;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 100% */
}


.dictionary10 {
display: flex;
max-width: 228px;
flex-direction: column;
align-items: flex-start;
gap: 4px;
align-self: stretch;
}


.dictionary11 {
display: flex;
max-width: 208px;
align-items: center;
gap: 8px;
align-self: stretch;
}


.dictionary11-a {
display: flex;
align-items: center;
gap: 4px;
}


.dictionary11-b {
display: flex;
align-items: center;
gap: 2px;
}


.dictionary11-c {
display: flex;
height: 10px;
padding-bottom: 1px;
justify-content: center;
align-items: center;
}


.dictionary11-d {
display: flex;
width: 14px;
height: 14px;
flex-direction: column;
justify-content: center;
color: #A0A08A;
font-family: Pretendard;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.2px;
}


.dictionary11-e {
display: flex;
align-items: center;
}

.dictionary11-f {
display: flex;
width: 16px;
flex-direction: column;
align-items: flex-start;
}


.dictionary11-f2 {
width: 16px;
height: 16px;
aspect-ratio: 1/1;
}



.dictionary11-g {
display: flex;
padding-bottom: 2px;
align-items: center;
}


.dictionary11-h {
color: #A0A08A;
font-family: Pretendard;
font-size: 10px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.2px;
}





.dictionary12 {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 16px;
align-self: stretch;
}


.dictionary13 {
display: flex;
width: 228px;
height: 32px;
padding: 4px 6px;
align-items: flex-start;
gap: 8px;
border-radius: 999px;
background: #F9F8F1;
}


.dictionary14-s {
display: flex;
width: 48px;
height: 24px;
padding: 4px 8px;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 999px;
background: #0AC290;
}


.dictionary15-s {
color: #FFF;
text-align: center;
font-family: Pretendard;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}


.dictionary16-n {
display: flex;
width: 48px;
height: 24px;
padding: 4px 8px;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 999px;
}


.dictionary17-n {
color: #7F7569;
text-align: center;
font-family: Pretendard;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

/* 관계어? */
.dictionary18 {
display: flex;
width: 48px;
height: 24px;
padding: 4px 6px;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 999px;
}

/* 관계어? */
.dictionary19 {
color: #CCC3B4;
text-align: center;
font-family: Pretendard;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}


.dictionary20 {
display: flex;
max-width: 228px;
flex-direction: column;
align-items: flex-start;
gap: 8px;
align-self: stretch;
}


.dictionary21 {
max-width: 232px;
align-self: stretch;
color: #7F7569;
font-family: Pretendard;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}


.dictionary22 {
display: flex;
max-width: 232px;
flex-direction: column;
align-items: flex-start;
gap: 4px;
align-self: stretch;
}


.dictionary23 {
display: flex;
align-items: center;
gap: 10px;
align-self: stretch;
}


.dictionary24 {
display: -webkit-box;
max-width: 228px;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
line-clamp: 2;  /* 표준 속성 추가 */
overflow: hidden;
color: #5E5A4E;
text-overflow: ellipsis;
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

/* 동의어가 있으면 이거 쓰기 */
.dictionary25 {
display: flex;
align-items: center;
gap: 10px;
align-self: stretch;
}

/* 동의어가 있으면 이거 쓰기 */
.dictionary26 {
max-width: 228px;
max-height: 34px;
color: #5E5A4E;
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}


.dictionary-bar {
width: 228px;
height: 1px;
background: #E6E6DB;
}


.dictionary27 {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;
align-self: stretch;
}




.dictionary28 {
display: flex;
justify-content: center;
align-items: center;
}


.dictionary29 {
color: #01CF8A;
text-align: center;
font-family: Pretendard;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}


.dictionary30 {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 4px;
align-self: stretch;
}


.dictionary31 {
display: flex;
max-width: 228px;
align-items: center;
align-self: stretch;
}


.dictionary32 {
max-width: 228px;
color: #5E5A4E;
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}


.dictionary33 {
display: flex;
max-width: 228px;
align-items: center;
}


.dictionary34 {
max-width: 228px;
color: #5E5A4E;
font-family: Pretendard;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


/* 유의어 있으면 이거 쓰기 */
.dictionary35 {
display: flex;
align-items: center;
gap: 8px;
}

/* 유의어 있으면 이거 쓰기 */
.dictionary36 {
display: flex;
justify-content: center;
align-items: center;
}

/* 유의어 있으면 이거 쓰기 */
.dictionary37 {
color: #5E5A4E;
text-align: center;
font-family: Pretendard;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

/* 유의어 있으면 이거 쓰기 */
.dictionary38 {
display: flex;
align-items: center;
gap: 4px;
}

/* 유의어 있으면 이거 쓰기 */
.dictionary39 {
display: flex;
padding: 4px 8px;
justify-content: center;
align-items: center;
gap: 10px;
background: #E5F8F1;
}

/* 유의어 있으면 이거 쓰기 */
.dictionary40 {
color: #0AC290;
text-align: center;
font-family: Pretendard;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}







.pagination {

display: flex;          /* 안의 버튼들 가로 정렬 */
  justify-content: center;
align-items: center;
gap: 4px;

margin-top: 64px; 
width: 100%;
}




.pagination2 {
display: flex;
width: 28px;
height: 28px;
padding: 4px;
flex-direction: column;
justify-content: center;
align-items: center;
}



.pagination3 {
width: 24px;
height: 24px;
flex-shrink: 0;
}




.pagination4 {
width: 14px;
height: 8px;
transform: rotate(90deg);
fill: #BDB4AB;
}



.pagination5-n {
display: flex;
width: 28px;
height: 28px;
padding: 4px;
flex-direction: column;
justify-content: center;
align-items: center;
}




.pagination6-n {
color: #7F7569;
text-align: center;
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}




.pagination7-t {
display: flex;
width: 28px;
height: 28px;
padding: 4px;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 999px;
background: #7F7569;
}




.pagination8-t {
color: #FFF;
text-align: center;
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}




.pagination9 {
width: 14px;
height: 8px;
transform: rotate(-90deg);
fill: #7F7569;
}


/* 버튼 가운데 정렬용 */
.next {
  width: 100%;
  display: flex;
  justify-content: center;
align-items: center;
}


.next2 {
display: flex;
width: 362px;
height: 56px;
padding: 18px 0;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 20px;
background: #01CF8A;

margin-top: 36px;
}



.next3 {
color: #FFF;
text-align: center;
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}





.scenario {
  display: flex;
width: 338px;
flex-direction: column;
align-items: flex-start;
gap: 8px;

margin: 0 auto;
}



.scenario2 {
  display: flex;
padding: 18px 19px 18px 20px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
align-self: stretch;
border-radius: 14px;
  border: 1.4px solid #DCD6C6;
  background: #FFF; 


box-shadow: 0 4px 4px 0 rgba(208, 181, 252, 0.16);
}


/* 선택된 상태 */
.scenario2-selected {
  border: 2px solid #0AC290;
  background: #E7FFF3;
}



.scenario3 {
  display: flex;
align-items: center;
gap: 8px;
}



.scenario4 {
  display: flex;
width: 262px;
align-items: center;
gap: 10px;

justify-content: flex-start;
}



.scenario5 {
  display: flex;

height: 14px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #454440;
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.032px;

text-align: left;
}



.scenario6 {
  display: flex;
width: 28px;
height: 28px;
justify-content: center;
align-items: center;
gap: 10px;
aspect-ratio: 1/1;
border-radius: 999px;
background: #0AC290;
}



.scenario7 {
  width: 16px;
height: 16px;
flex-shrink: 0;
aspect-ratio: 1/1;
}



.scenario8 {
  width: 12.668px;
height: 9.667px;
fill: #FFF;
}






/* 리스트 컨테이너 */
.voiceList {
  display: flex;
  flex-direction: column;
  gap: 12px;


  width: 338px;
  margin: 0 auto; 
}

.voice {
display: flex;
width: 338px;
padding: 24px 19px 24px 20px;
flex-direction: column;
align-items: flex-start;
border-radius: 14px;
border: 1px solid #DCD6C6;
background: #FFF;
box-shadow: 0 4px 4px 0 rgba(208, 181, 252, 0.16);

gap: 12px;
}


/* 선택된 상태 */
.voice-selected {
  border: 2px solid #0AC290;
background: #E7FFF3;
}







.voice2 {
display: flex;
align-items: center;
gap: 12px;

width: 100%;
}



.voice3 {
display: flex;
width: 40px;
height: 40px;
align-items: center;
justify-content: center;
}



.voice4 {
display: flex;
/* width: 214px; */
flex: 1;
flex-direction: column;
align-items: flex-start;
gap: 4px;
}



.voice5 {
width: 72px;
color: #454440;
font-family: Pretendard;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}



.voice6 {
align-self: stretch;
color: #454440;
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}



.voice7 {
display: flex;
width: 28px;
height: 28px;
justify-content: center;
align-items: center;
gap: 10px;
aspect-ratio: 1/1;
border-radius: 999px;
background: #0AC290;
}



.voice8 {
width: 16px;
height: 16px;
flex-shrink: 0;
aspect-ratio: 1/1;
}



.voice9 {
width: 12.668px;
height: 9.667px;
fill: #FFF;
}




.chat-head {
  display: flex;
width: 402px;
height: 54px;
padding: 15px 16px;
align-items: center;
gap: 131px;
background: #F5F3E7;
}


.chat-head2 {
display: flex;
width: 215px;
justify-content: space-between;
align-items: center;
flex-shrink: 0;
}



.chat-head3 {
display: flex;
align-items: center;
gap: 12px;
}



.chat-head4 {
display: flex;
width: 24px;
height: 24px;
align-items: center;
gap: 10px;

}



.chat-head5 {
display: flex;
justify-content: center;
align-items: center;
}



.chat-head6 {
color: #454440;
text-align: center;
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}



.chat-more {
width: 24px;
height: 24px;
flex-shrink: 0;
}


.chat-more2 {
display: flex;
width: 64px;
height: 24px;
justify-content: center;
align-items: center;
}

.chat-more3 {
color: #7F7569;
text-align: center;
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}




.chat-scenario {
display: flex;
width: 370px;
padding: 16px 20px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 14px;
background: #01CF8A;
box-shadow: 0 4px 4px 0 rgba(158, 155, 137, 0.12);

margin: 0 auto; 
}



.chat-scenario2 {
display: flex;
align-items: center;
gap: 10px;
}



.chat-scenario3 {
width: 210px;
color: #FFF;
text-align: center;
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}




.chat-time {

margin-top: 20px;
text-align: center;
}



.chat-time2 {
color: #ABAB90;
font-family: Pretendard;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.5px;
text-transform: uppercase;
}







/* 전체 컨테이너 */
.chat-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 402px;
  padding: 0 16px;
  margin: 0 auto;
  align-items: stretch;
}

/* AI 아이콘 + 말풍선 그룹 (가로 배치) */
.chat-ai-group {
  display: flex;
  align-items: flex-start;
  gap: 8px;

  margin-top: 36px;
}

/* 말풍선들 세로 배치 + 8px 간격 */
.chat-ai-bubbles {
  display: flex;
  flex-direction: column;
  gap: 8px;
}




/* 연속 메시지일 때 아이콘 자리 비워두기 (정렬 유지) */
.chat-icon-placeholder {
  width: 36px;
  height: 0;
  flex-shrink: 0;
}



.chat-ai {
display: inline-flex;
align-items: flex-start;


max-width: 280px;
}



.chat-ai2 {
width: 9.725px;
height: 22px;
aspect-ratio: 9.73/22.00;
fill: #FEFDF9;
}




.chat-ai3 {
display: flex;
padding: 10px 16px;
flex-direction: column;
justify-content: center;

align-items: flex-start;
gap: 8px;
box-shadow: 0 4px 12px 0 rgba(158, 155, 137, 0.12);
border-radius: 0 16px 16px 16px;
background: #FEFDF9;

max-width: 240px;
}




.chat-ai4 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-end;

margin-top: 36px;
gap: 8px;
}




.chat-ai5 {
color: #5E5A4E;
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
letter-spacing: -0.28px;
}









.chat-box {
  display: flex;
width: 271px;
flex-direction: column;
align-items: flex-end;
gap: 8px;


margin-left: auto;
margin-top: 20px;
}



/* 2번 쨰 메시지 */
.chat-user {
display: flex;
justify-content: flex-end;
align-items: flex-start;
}




.chat-user2 {
width: 8px;
height: 18px;
fill: #0AC290;
}




.chat-user3 {
display: flex;
padding: 10px 16px;
flex-direction: column;
justify-content: center;
align-items: flex-end;
border-radius: 16px 0 16px 16px;
background: #0AC290;
box-shadow: 0 4px 12px 0 rgba(158, 155, 137, 0.12);
max-width: 240px;
}




.chat-user4 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-end;
}

.chat-user5 {
color: #FFF;
font-family: "Noto Sans KR";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
letter-spacing: -0.28px;
}



.chat-count {
display: flex;
padding-right: 8px;
align-items: center;
}


.chat-count2 {
  display: flex;
padding: 8px 12px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 99px;
background: #E5F8F1;
}


.chat-count3 {
  color: #25AB7A;
font-family: Pretendard;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.24px;
}










.chat-icon {
width: 36px;
height: 36px;
}


/* 채팅 페이지 전체 */
.chat-page {
  display: flex;
  flex-direction: column;
  height: 100vh;        /* 사이드패널 전체 높이 */
  width: 100%;
}

/* 메시지 영역 (스크롤) */
.chat-messages {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;


  padding: 16px;
}



.chat-input {
  flex-shrink: 0;       /*  줄어들지 않음 */
  margin: 12px auto;    /* 가운데 정렬 + 위 여백 */

display: flex;
width: 338px;
padding: 12px 16px;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
gap: 12px;
border-radius: 20px;
border: 1px solid #E4DFD1;
background: #FEFDF9;
box-shadow: 0 4px 12px 0 rgba(158, 155, 137, 0.20);
}



.chat-input2 {
display: flex;
align-items: center;
align-self: stretch;
}




.chat-input3 {
width: 306px;
max-height: 120px;
color: #8E8F8A;
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
letter-spacing: -0.28px;

/* textarea에 자동으로 추가된 드래그해서 textarea 크기를 조절할 수 있게 해주는 기능 제거  */
resize: none;
}




.chat-input4 {
display: flex;
justify-content: space-between;
align-items: center;
align-self: stretch;
}




.chat-input5 {
display: flex;
align-items: center;
gap: 4px;
}




.chat-input6 {
display: flex;

/* 글자 길이만큼 자동 */
width: auto;
height: 24px;
align-items: center;
gap: 10px;
background: #F0F2E5;
}




.chat-input7 {
display: flex;
width: 80px;
align-items: center;
}




.chat-input8 {
color: #A0A08A;
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
letter-spacing: -0.28px;
}




.chat-input9 {
color: #CCC3B4;
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
letter-spacing: -0.28px;
}




.chat-input10 {
display: flex;
align-items: center;
gap: 8px;
}




.chat-input11 {
display: flex;
width: 24px;
height: 24px;
align-items: center;
gap: 10px;
background: #F0F2E5;
}













.exit-overlay {
  position: fixed;
  inset: 0;                       /* 화면 전체 덮음 */
  background: rgba(0, 0, 0, 0.50);
  z-index: 99;
}



.exit {
    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;

display: flex;
width: 306px;
padding: 36px 20px 20px 20px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
border-radius: 20px;
background: #FEFDF9;
box-shadow: 0 4px 12px 0 rgba(158, 155, 137, 0.20);
}


.exit2 {
display: flex;
flex-direction: column;
align-items: center;
gap: 16px;
align-self: stretch;
}


.exit3 {
color: #5E5A4E;
text-align: center;
font-family: Pretendard;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 140% */
}


.exit4 {
display: flex;
width: 100%;
height: 64px;
/* padding: 16px 71px; */
padding: 16px 24px;
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;
border-radius: 12px;
background: #F7F3E7;
}


.exit5 {
color: #A0A08A;
text-align: center;
font-family: Pretendard;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 133.333% */
letter-spacing: -0.024px;
}


.exit6 {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;
align-self: stretch;
}


.exit7 {
display: flex;
padding: 16px 40px;
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;
border-radius: 16px;
background: #01CF8A;
}


.exit8 {
color: #FFF;
text-align: center;
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.032px;
}


.exit9 {
display: flex;
padding: 16px 40px;
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;
border-radius: 16px;
border: 1px solid #E6E6DB;
}


.exit10 {
color: #FA5757;
text-align: center;
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.032px;
}





/* 더보기 버튼과 모달을 묶은 컨테이너 (모달 위치의 기준점) */
.more-container {
  position: relative;
  display: inline-block; /* 버튼 크기만큼만 가로폭을 차지하게 설정 */
}


/* 더보기 박스 */
.more {
  position: absolute;
  top: calc(100% + 8px); /* 버튼 바로 밑(100%)에서 살짝 여백(8px)을 두고 배치 */
  right: 0;              /* 버튼의 오른쪽 끝선에 맞춰서 정렬 (좌측 정렬을 원하시면 left: 0) */
  z-index: 1;


display: inline-flex;
padding: 12px 16px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 12px;
border-radius: 12px;
border: 1px solid #DCD6C6;
background: #FEFDF9;
}



.more2 {
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 12px;
align-self: stretch;
}


.more3 {
  display: flex;
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;
}



.more4 {
  flex: 1 0 0;
  color: #5E5A4E;
font-family: Pretendard;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}


.more5 {
  display: flex;
width: 86px;
height: 0;
flex-direction: column;
align-items: flex-start;
gap: 10px;
border: 1px solid #E6E6DB;
}



.more6 {
  display: flex;
align-items: center;
gap: 2px;
}



.more7 {
  display: flex;
width: 14px;
height: 14px;
flex-direction: column;
justify-content: center;
align-items: center;
aspect-ratio: 1/1;
}



.more8 {
  width: 9.108px;
height: 10.447px;
flex-shrink: 0;
fill: #FA5757;
}



.more9 {
  display: flex;
align-items: center;
}



.more10 {
  color: #FA5757;
font-family: Pretendard;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}




.completionBox {
display: inline-flex;
padding: 20px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
border-radius: 20px;
background: #FEFDF9;
box-shadow: 0 4px 12px 0 rgba(158, 155, 137, 0.12);

margin-top: 20px;
}



.completionBox2 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
}




.completionBox4 {
color: #5E5A4E;
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 171.429% */
letter-spacing: -0.28px;
}




.completionBox5 {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;
align-self: stretch;
}




.completionBox6 {
display: flex;
width: 220px;
height: 40px;
padding: 10px 0;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 16px;
background: #01CF8A;
}




.completionBox7 {
color: #FEFDF9;
text-align: center;
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}




.completionBox8 {
display: flex;
height: 40px;
padding: 10px 0;
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;
border-radius: 16px;
background: #F0F2E5;
}




.completionBox9 {
color: #86755B;
text-align: center;
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}









.reportCard {
display: inline-flex;
padding: 16px;
flex-direction: column;
align-items: flex-start;
gap: 12px;
border-radius: 16px;
background: #FEFDF9;
box-shadow: 0 4px 12px 0 rgba(158, 155, 137, 0.12);

margin-top: 8px;

}




.reportCard2 {
display: flex;
justify-content: center;
align-items: center;
}




.reportCard3 {
color: #5CC49D;
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.28px;
}




.reportCard4 {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;
}




.reportCard5 {
display: flex;
justify-content: center;
align-items: center;
}




.reportCard6 {
max-width: 230px;
color: #5E5A4E;
font-family: Pretendard;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.24px;
}




.reportCard7 {
  max-width: 230px;
color: #5E5A4E;
font-family: Pretendard;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.24px;
}




.reportCard8 {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 4px;
}




.reportCard9 {
display: flex;
max-width: 230px;
justify-content: center;
align-items: center;
gap: 10px;
}




.reportCard10 {
flex: 1 0 0;
color: #8E8F8A;
font-family: Pretendard;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 133.333% */
letter-spacing: -0.24px;
}




.reportCard11 {
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
}




.reportCard12 {
max-width: 230px;
color: #5E5A4E;
font-family: Pretendard;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.24px;
}


.highlight {
  color: #0AC290;
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 20px;
letter-spacing: -0.28px;
}














.popupOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.popupBox {
  width: 320px;
  padding: 24px 20px;
  background: #FEFDF9;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.popupTitle {
  color: #5E5A4E;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.popupInfo {
  background: #F5F3E7;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.popupInfo p {
  margin: 0;
  font-size: 14px;
  color: #5E5A4E;
}

.popupQuestion {
  color: #5E5A4E;
  font-size: 14px;
  text-align: center;
  margin: 0;
}

.popupButtons {
  display: flex;
  gap: 8px;
}

.popupBtnPrimary,
.popupBtnSecondary {
  flex: 1;
  height: 44px;
  border-radius: 12px;
  border: none;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.popupBtnPrimary {
  background: #01CF8A;
  color: white;
}

.popupBtnSecondary {
  background: #F5F3E7;
  color: #5E5A4E;
}








.praiseCard {
display: inline-flex;
padding: 16px;
flex-direction: column;
align-items: flex-start;
gap: 8px;
border-radius: 16px;
background: #D8F6EB;
box-shadow: 0 4px 12px 0 rgba(158, 155, 137, 0.12);
}


.praiseCard2 {
display: flex;
justify-content: center;
align-items: center;
}


.praiseCard3 {
color: #28927C;
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.28px;
}


.praiseCard4 {
display: flex;
justify-content: center;
align-items: center;
}


.praiseCard5 {
color: #28927C;
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.28px;
}












.sound {
  display: flex;
width: 136px;
height: 32px;
padding: 8px 14px 8px 18px;
align-items: flex-start;
gap: 8px;
flex-shrink: 0;
border-radius: 16px;
border: 1.5px solid #20A076;
background: #FFF;
}


.sound2 {
display: flex;
width: 16px;
flex-direction: column;
align-items: flex-start;
flex-shrink: 0;
}

.sound3 {
width: 80px;
flex-shrink: 0;
color: #20A076;
text-align: center;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 16px; /* 133.333% */
}





.reports {
display: flex;





width: 402px;
padding: 24px 36px;
flex-direction: column;
justify-content: flex-end;
align-items: center;
gap: 24px;
border-radius: 36px 36px 0 0;
background: #FEFDF9;
box-shadow: 0 -4px 12px 0 rgba(158, 155, 137, 0.20);
}


.reports2 {
display: flex;
width: 330px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
}



.reports3 {
display: flex;
justify-content: center;
align-items: center;
}



.reports4 {
color: #5E5A4E;
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 125% */
}



.reports5 {
display: flex;
min-height: 120px;
padding: 20px 16px;
align-items: flex-start;
align-self: stretch;
border-radius: 24px;
border: 1px solid #DCD6C6;
}



.reports6 {
max-width: 300px;
max-height: 120px;
color: #CCC3B4;
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */

/* textarea에 자동으로 추가된 드래그해서 textarea 크기를 조절할 수 있게 해주는 기능 제거  */
resize: none;
}



.reports7 {
display: flex;
align-items: center;
gap: 8px;
align-self: stretch;
}



.reports8 {
display: flex;
width: 98px;
height: 44px;
justify-content: center;
align-items: center;
gap: 78px;
border-radius: 999px;
border: 1px solid #E6E6DB;
background: #FEFDF9;
}



.reports9 {
width: 60px;
flex-shrink: 0;
color: #ABAB90;
text-align: center;
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 125% */
}



.reports10 {
display: flex;
width: 224px;
height: 44px;
justify-content: center;
align-items: center;
border-radius: 999px;
background: #FA5757;
}

.reports11 {
width: 62px;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 125% */
}










.agreement16 {
display: flex;
width: 24px;
height: 24px;
justify-content: center;
align-items: center;
gap: 10px;
aspect-ratio: 1/1;
border-radius: 999px;
background: #01CF8A;
}




.agreement17 {
width: 16px;
height: 16px;
flex-shrink: 0;
aspect-ratio: 1/1;
}


.agreement22 {
width: 24px;
height: 24px;
}








.bar2 {
  display: flex;
width: 60px;
height: 60px;
align-items: center;
flex-shrink: 0;
}



.bar3 {
  width: 60px;
height: 60px;
flex-shrink: 0;
aspect-ratio: 1/1;
  background-color: transparent;
  background-position: -7.802px -5.196px;
  background-size: 125.704% 118.462%;
  background-repeat: no-repeat;
}




.ai-audio {
display: flex;
padding-left: 8px;
align-items: center;
gap: 10px;
}

.ai-audio2 {
  display: flex;
width: 30px;
height: 30px;
justify-content: center;
align-items: center;
gap: 10px;
aspect-ratio: 1/1;

/* ShadowBottomLight */
box-shadow: 0 4px 12px 0 rgba(158, 155, 137, 0.12);
}

.ai-audio3 {
  display: flex;
width: 30px;
height: 30px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 999px;
background: var(--button-btn-primary, #FEFDF9);
}

.ai-audio4 {
  width: 18px;
height: 18px;
flex-shrink: 0;
aspect-ratio: 1/1;
}




.user-audio {
  display: flex;
padding-right: 8px;
align-items: flex-start;
gap: 8px;
}



.user-audio2 {
  display: flex;
width: 30px;
height: 30px;
justify-content: center;
align-items: center;
gap: 10px;
aspect-ratio: 1/1;

/* ShadowBottomLight */
box-shadow: 0 4px 12px 0 rgba(158, 155, 137, 0.12);
}



.user-audio3 {
  display: flex;
width: 30px;
height: 30px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;

border-radius: 999px;
background: var(--button-btn-primary, #FEFDF9);
}



.user-audio4 {
  width: 18px;
height: 18px;
flex-shrink: 0;
aspect-ratio: 1/1;
}


/* 음성 모드로 전환 */
.chat-change {
display: flex;
width: 24px;
height: 24px;
padding: 6px 2px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
aspect-ratio: 1/1;
}



/* 음성 모드로 전환 */
.chat-change2 {
width: 20px;
height: 12.727px;
flex-shrink: 0;
}



/* 텍스트 모드로 전환 */
.chat-change3 {
display: flex;
width: 24px;
height: 24px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
}


/* 텍스트 모드로 전환 */
.chat-change4 {
width: 12.266px;
height: 16px;
flex-shrink: 0;
}




.chat-recording {
display: flex;
width: 80px;
align-items: center;
}

.chat-recording2 {
color: var(--text-text-info-medium, #A0A08A);

/* Caption/Caption2-500 */
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 18.2px */
}






.female {
display: flex;
width: 40px;
padding: 2.5px 0 1.5px 0;
justify-content: center;
align-items: center;
aspect-ratio: 1/1;
}
.female2 {
display: flex;
width: 50px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
}
.female3 {
width: 40px;
height: 36px;
}



.male {
display: flex;
width: 40px;
padding: 2.5px 0 1.5px 0;
justify-content: center;
align-items: center;
aspect-ratio: 1/1;
}


.male2 {
  display: flex;
width: 50px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
}



.male3 {
  width: 40px;
height: 36px;
}









.send {
display: flex;
align-items: center;
gap: 8px;
}



.send2 {
display: flex;
width: 24px;
padding: 4px 1px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
}


/* 파형 */
.send3 {
width: 22px;
height: 16px;
}



.send4 {
display: flex;
width: 24px;
height: 24px;
justify-content: center;
align-items: center;
gap: 10px;
aspect-ratio: 1/1;
border-radius: 999px;
background: var(--button-btn-brand, #01CF8A);
}



.send5 {
display: flex;
width: 16px;
padding: 2px 2.5px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
aspect-ratio: 1/1;
}



.send6 {
height: 12px;
align-self: stretch;
}




.hint {
display: flex;
padding-left: 8px;
flex-direction: column;
align-items: flex-start;
gap: 10px;

margin-top: 8px;
}


.hint2 {
display: flex;
padding: 20px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
border-radius: 20px;
background: var(--fill-fill-primary, #FEFDF9);

/* ShadowDefault */
box-shadow: 0 4px 12px 0 rgba(158, 155, 137, 0.20);
}



.hint3 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 8px;
}



.hint4 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}



.hint5 {
color: #5E5A4E;

/* Body/Body2-500 */
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 18.2px */
}



.hint6 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}



.hint7 {
color: #5E5A4E;

/* Body/Body2-700 */
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 18.2px */
}



.hint8 {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;
align-self: stretch;
}



.hint9 {
display: flex;
width: 220px;
height: 44px;
padding: 10px 0;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: var(--primitive-corner-20, 20px);
background: var(--button-btn-brand, #01CF8A);
}



.hint10 {
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
}



.hint11 {
color: var(--text-text-light, #FEFDF9);
text-align: center;

/* Body/Body1-700 */
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 20.8px */
}



.hint12 {
display: flex;
width: 220px;
height: 44px;
padding: 10px 0;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: var(--primitive-corner-20, 20px);
background: var(--button-btn-tertiary, #F0F2E5);
}





.hint13 {
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
}



.hint14 {
color: var(--text-text-btn, #868269);
text-align: center;

/* Body/Body1-500 */
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 20.8px */
}





.hint-card {
display: flex;
padding-left: 8px;
flex-direction: column;
align-items: flex-start;
gap: 10px;

margin-top: 8px;
}



.hint-card2 {
display: flex;
padding: 20px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
border-radius: 20px;
background: var(--fill-fill-primary, #FEFDF9);

/* ShadowDefault */
box-shadow: 0 4px 12px 0 rgba(158, 155, 137, 0.20);
}



.hint-card3 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 8px;
}



.hint-card4 {
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
}



.hint-card5 {
color: var(--text-text-primary, #5E5A4E);

/* Body/Body2-500 */
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 18.2px */
}



.hint-card6 {
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
}



.hint-card7 {
color: var(--text-text-primary, #5E5A4E);

/* Body/Body2-700 */
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 130%;
}



.hint-card8 {
display: flex;
padding: 16px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
border-radius: 16px;
border: var(--sm, 1.2px) solid var(--stroke-stroke-primary, #DCD6C6);
background: var(--fill-fill-secondary, #F9F8F1);
}



.hint-card9 {
display: flex;
width: 208px;
flex-direction: column;
align-items: flex-start;
gap: 8px;
}



.hint-card10 {
display: flex;
justify-content: center;
align-items: center;
}



.hint-card11 {
width: 208px;
color: var(--text-text-brand, #0AC290);

/* Title/Title4-700 */
font-family: Pretendard;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 26px */
}



.hint-card12 {
display: flex;

gap: 4px;
align-self: stretch;

flex-direction: column;     /* 세로 배치 */
align-items: flex-start;    /* 왼쪽 정렬 */
  padding-left: 16px;         /* 왼쪽에서 16px 떨어짐 */
}



.hint-card13 {
display: flex;

align-items: flex-start; /* 위쪽 정렬 */
margin-bottom: 4px;       /* 항목 사이 간격 */
}



.hint-card14 {
display: flex;

width: auto;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
}



.hint-card15 {
align-self: stretch;
color: var(--text-text-tertiary, #7F7569);

/* Body/Body3-700 */
font-family: Pretendard;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 15.6px */
}


.hint-card16 {
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
}


.hint-card17 {
color: var(--text-text-tertiary, #7F7569);

/* Body/Body3-700 */
font-family: Pretendard;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 15.6px */
}


.hint-card18 {
display: flex;
width: 243px;
flex-direction: column;
align-items: flex-start;
}


.hint-card19 {
width: 243px;
height: 1.2px;
background: var(--stroke-stroke-divider, #E6E6DB);
}


.hint-card20 {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 12px;
}


.hint-card21 {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;
}


.hint-card22 {
color: var(--text-text-tertiary, #7F7569);

/* Body/Body3-500 */
font-family: Pretendard;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 15.6px */
}


.hint-card23 {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;
}


.hint-card24 {
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
}


.hint-card25 {
color: var(--text-text-primary, #5E5A4E);

/* Body/Body3-700 */
font-family: Pretendard;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 15.6px */
}


.hint-card26 {
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
}


.hint-card27 {
color: var(--text-text-seacondary, #CCC3B4);

/* Body/Body3-500 */
font-family: Pretendard;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 15.6px */
}



.reportPage {
display: flex;
padding: 24px 0 36px 0;
flex-direction: column;

align-items: center;
gap: 24px;

border-radius: 36px 36px 0 0;
background: #FEFDF9;


/* 부모 padding이 좌16px 우16px 이라서 32px로 상쇄 */
width: calc(100% + 32px);

  /* 이후 추가 조정 */
  margin-top: 36px;
  margin-right: -16px;
  margin-bottom: 0;
  margin-left: -16px;



}


.reportPage2 {
display: flex;
width: 402px;
height: 20px;
padding: 0 20px;
align-items: center;
}


.reportPage3 {
color: #5E5A4E;
font-family: Pretendard;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 111.111% */
}


.reportPage4 {
display: flex;
width: 402px;
padding: 0 16px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
}


.reportPage5 {
display: flex;
width: 368px;
padding: 20px 16px;
flex-direction: column;
align-items: flex-start;
gap: 24px;

border-radius: 24px;
border: var(--md, 1.4px) solid var(--stroke-stroke-secondary, #BDB4AB);
background: var(--fill-fill-secondary, #F9F8F1);

/* ShadowDefault */
box-shadow: 0 4px 12px 0 rgba(158, 155, 137, 0.20);
}


.reportPage7 {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 16px;
}







.reportPage8 {
display: flex;
width: 336px;
padding-bottom: 20px;
flex-direction: column;
align-items: center;
gap: 24px;
}


.reportPage9 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 8px;

width: 100%;
}


.reportPage10 {
display: flex;
justify-content: center;
align-items: center;
}


.reportPage11 {
color: var(--text-text-primary, #5E5A4E);

/* Title/Title5-700 */
font-family: Pretendard;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 23.4px */
}


.reportPage12 {
display: flex;
justify-content: center;
align-items: center;
gap: 36px;
}


.reportPage13 {
display: flex;

flex-direction: column;
align-items: center;
gap: 16px;
}


.reportPage14 {
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;
}


.reportPage15 {
flex: 1 0 0;
color: var(--text-text-info-high, #988D83);
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
}


.reportPage16 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
}


.reportPage17 {
color: var(--text-text-brand, #0AC290);
text-align: center;

/* Title/Title2-700 */
font-family: Pretendard;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 41.6px */
}


.reportPage18 {
width: 1.4px;
height: 48px;
background: var(--stroke-stroke-primary, #DCD6C6);
}


.reportPage19 {
display: flex;

flex-direction: column;
justify-content: center;
align-items: center;
gap: 16px;
}


.reportPage20 {
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;
}


.reportPage21 {
flex: 1 0 0;
color: var(--text-text-info-high, #988D83);
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
}


.reportPage22 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
}


.reportPage23 {
color: var(--text-text-grade, #88DDC1);

/* Title/Title2-700 */
font-family: Pretendard;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 41.6px */
}


.reportPage24 {
width: 1.4px;
height: 48px;
background: var(--stroke-stroke-primary, #DCD6C6);
}


.reportPage25 {
display: flex;

flex-direction: column;
align-items: center;
gap: 16px;
}


.reportPage26 {
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;
}


.reportPage27 {
flex: 1 0 0;
color: var(--text-text-info-high, #988D83);
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
}


.reportPage28 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
}


.reportPage29 {
color: var(--text-text-grade, #88DDC1);
text-align: center;

/* Title/Title2-700 */
font-family: Pretendard;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 41.6px */
}


.reportPage30 {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 16px;
}


.reportPage31 {
display: flex;
width: 336px;
padding: 16px 12px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 24px;
border-radius: 16px;
background: var(--fill-fill-tertiary, #F7F3E7);
}


.reportPage32 {
display: flex;
max-width: 304px;
justify-content: center;
align-items: center;

flex-direction: column;
}


.reportPage33 {
max-width: 304px;
color: var(--text-text-info-low, #79735B);
text-align: center;

/* Body/Body2-500 */
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 18.2px */

margin: 0;
margin-bottom: 8px;
}

.reportPage33:last-child {
  margin-bottom: 0;       /* 마지막은 간격 없음 */
}


.reportPage34 {
display: flex;
width: 368px;
padding: 20px 16px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
border-radius: 24px;
border: var(--md, 1.4px) solid var(--stroke-stroke-secondary, #BDB4AB);
background: var(--fill-fill-secondary, #F9F8F1);

/* ShadowDefault */
box-shadow: 0 4px 12px 0 rgba(158, 155, 137, 0.20);
}


.reportPage35 {
display: flex;
flex-direction: column;
align-items: center;
gap: 24px;
}


.reportPage36 {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 16px;
}


.reportPage37 {
display: flex;
width: 336px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
}


.reportPage38 {
display: flex;
width: 251px;
flex-direction: column;
align-items: flex-start;
gap: 8px;
}


.reportPage39 {
color: var(--text-text-primary, #5E5A4E);

/* Title/Title5-700 */
font-family: Pretendard;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 23.4px */
}


.reportPage40 {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;
}


.reportPage41 {
display: flex;
align-items: center;
gap: 8px;
}


.reportPage42 {
display: flex;
width: 24px;
flex-direction: column;
justify-content: center;
align-items: center;
}


.reportPage43 {
width: 24px;
height: 24px;
aspect-ratio: 1/1;
}


.reportPage44 {
display: flex;
align-items: center;
gap: 10px;
}


.reportPage45 {
max-width: 304px;
color: var(--text-text-messege, #8E8F8A);

/* Body/Body2-500 */
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 18.2px */
}


.reportPage46 {
display: flex;
align-items: center;
gap: 8px;
}


.reportPage47 {
display: flex;
width: 24px;
flex-direction: column;
justify-content: center;
align-items: center;
}


.reportPage48 {
width: 24px;
height: 24px;
aspect-ratio: 1/1;
}


.reportPage49 {
max-width: 304px;
color: var(--text-text-brand, #0AC290);

/* Body/Body2-700 */
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 18.2px */
}


.reportPage50 {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 16px;
}


.reportPage51 {
display: flex;
width: 336px;
padding: 16px 12px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 24px;
border-radius: 16px;
background: var(--fill-fill-tertiary, #F7F3E7);
}


.reportPage52 {
display: flex;
max-width: 304px;
justify-content: center;
align-items: center;
}


.reportPage53 {
max-width: 304px;
color: var(--text-text-info-low, #79735B);
text-align: center;

/* Body/Body2-500 */
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 18.2px */
}


.reportPage54 {
display: flex;
width: 368px;
padding: 20px 16px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
border-radius: 24px;
border: var(--md, 1.4px) solid var(--stroke-stroke-secondary, #BDB4AB);
background: var(--fill-fill-secondary, #F9F8F1);

/* ShadowDefault */
box-shadow: 0 4px 12px 0 rgba(158, 155, 137, 0.20);
}


.reportPage55 {
display: flex;
flex-direction: column;
align-items: center;
gap: 24px;
}


.reportPage56 {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 16px;
}


.reportPage57 {
display: flex;
width: 336px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
}


.reportPage58 {
display: flex;
width: 251px;
flex-direction: column;
align-items: flex-start;
gap: 8px;
}


.reportPage59 {
color: var(--text-text-primary, #5E5A4E);

/* Title/Title5-700 */
font-family: Pretendard;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 23.4px */
}


.reportPage60 {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;
}


.reportPage61 {
display: flex;
align-items: center;
gap: 8px;
}


.reportPage62 {
display: flex;
width: 24px;
flex-direction: column;
justify-content: center;
align-items: center;
}


.reportPage63 {
width: 24px;
height: 24px;
aspect-ratio: 1/1;
}


.reportPage64 {
display: flex;
align-items: center;
gap: 10px;
}


.reportPage65 {
max-width: 304px;
color: var(--text-text-messege, #8E8F8A);

/* Body/Body2-500 */
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 18.2px */
}


.reportPage66 {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 16px;
}


.reportPage67 {
display: flex;
width: 336px;
padding: 16px 12px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 24px;
border-radius: 16px;
background: var(--fill-fill-tertiary, #F7F3E7);
}


.reportPage68 {
display: flex;
max-width: 304px;
justify-content: center;
align-items: center;
}


.reportPage69 {
max-width: 304px;
color: var(--text-text-info-low, #79735B);
text-align: center;

/* Body/Body2-500 */
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 18.2px */
}


.reportPage70 {
display: flex;
padding: 8px 24px;
justify-content: center;
align-items: center;
gap: 4px;

border-radius: 24px;
border: var(--sm, 1.2px) solid var(--stroke-stroke-quaternary, #88DDC1);
background: var(--button-btn-primary, #FEFDF9);
}


.reportPage71 {
display: flex;
width: 24px;
flex-direction: column;
justify-content: center;
align-items: center;
}


.reportPage72 {
width: 24px;
height: 24px;
aspect-ratio: 1/1;
}


.reportPage73 {
color: var(--text-text-brand, #0AC290);
text-align: center;

/* Body/Body2-400 */
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 18.2px */
}

















.recommendation-card {
display: flex;
width: 368px;
padding: 20px 16px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
border-radius: 24px;
border: 1px solid #BDB4AB;
background: #FBF8F1;
box-shadow: 0 4px 12px 0 rgba(158, 155, 137, 0.20);

margin-top: 24px;
}




.recommendation-card2 {
display: flex;
width: 251px;
flex-direction: column;
align-items: flex-start;
gap: 8px;
}



.recommendation-card3 {
display: flex;
align-items: center;
gap: 8px;
}



.recommendation-card4 {
display: flex;
width: 24px;
height: 24px;
flex-direction: column;
justify-content: center;
align-items: center;
}



.recommendation-card5 {
display: flex;
justify-content: center;
align-items: center;
}



.recommendation-card6 {
color: #5E5A4E;
font-family: Pretendard;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 20px;
}



.recommendation-card7 {
display: flex;
justify-content: center;
align-items: center;
align-self: stretch;
}



.recommendation-card8 {
color: #79735B;
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px;
}



.recommendation-card9 {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 32px;
align-self: stretch;
}



.recommendation-card10 {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 14px;
align-self: stretch;
}



.recommendation-card11 {
  position: relative;

height: 190px;

gap: 10px;
align-self: stretch;
border-radius: 12px;



overflow: hidden;
  flex-shrink: 0;

}



.recommendation-card12 {
display: flex;
width: 38px;
height: 16px;
padding: 3px 4px 3px 5px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 999px;
background: rgba(15, 15, 15, 0.50);
}



.recommendation-card13 {
display: flex;
justify-content: center;
align-items: center;
}



.recommendation-card14 {
color: #FFF;
font-family: Pretendard;
font-size: 11px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.1px;
text-transform: uppercase;
}



.recommendation-card15 {
display: flex;
align-items: flex-start;
gap: 12px;
}



.recommendation-card16 {
width: 33px;
height: 33px;
aspect-ratio: 1/1;
border-radius: 16px;
background: #D9D9D9;
}



.recommendation-card17 {
display: flex;
width: 275px;
flex-direction: column;
align-items: flex-start;
gap: 4px;
}



.recommendation-card18 {
align-self: stretch;
color: #5E5A4E;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 16px;
letter-spacing: -0.5px;
}



.recommendation-card19 {
align-self: stretch;
color: #5E5A4E;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 20px;
letter-spacing: -0.5px;
}



.gradeRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
}



















.recommendedSectionBox3 {
display: flex;
flex-direction: column;
align-items: flex-start;

align-self: stretch;
}

/* 추가함 */
.recommendedSectionLink {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  width: 100%;
}




.recommendedSectionThumbnail {
  position: relative;
height: 190px;

flex-direction: column;
align-items: flex-start;
gap: 10px;
align-self: stretch;
border-radius: 12px;
background: lightgray 50% / cover no-repeat;
overflow: hidden;
}


.recommendedSectionThumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.recommendedSectionDuration {

position: absolute;
  right: 4px;
  bottom: 4px; 
padding: 3px 4px 3px 5px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 999px;
background: rgba(15, 15, 15, 0.50);
}



.recommendedSectionDuration3 {
  display: flex;
justify-content: center;
align-items: center;

color: #FFF;
font-family: Pretendard;
font-size: 11px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.1px;
text-transform: uppercase;
}





.recommendedSectionInfo {
display: flex;
align-items: flex-start;
gap: 12px;
}


.recommendedSectionChannel {
width: 33px;
height: 33px;
aspect-ratio: 1/1;
border-radius: 16px;
background: #D9D9D9;
}


.recommendedSectionTitle {
display: flex;
width: 275px;
flex-direction: column;
align-items: flex-start;
gap: 4px;
}


.recommendedSectionTitle2 {
  display: flex;

min-height: 32px;

flex-direction: column;
justify-content: center;
align-self: stretch;
color: #5E5A4E;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 16px; /* 114.286% */
letter-spacing: -0.5px;
}



.recommendedSectionChannelName {
display: flex;


min-height: 16px;
flex-direction: column;
justify-content: center;
align-self: stretch;
color: #5E5A4E;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 166.667% */
letter-spacing: -0.5px;
}